<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> <!-- fixed typo UTf-8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Product.Name }} - {{ .Product.Brand }}</title> 
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>
    <!-- Navigation Bar -->
    <section id="header">
        <a href="#"> <img src="/static/img/logo.png" class="logo" alt="Logo"> </a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

<form method="POST" action="/product/order">
<input type="hidden" name="product_id" value="{{ .Product.ID }}">
<input type="hidden" name="price" value="{{ .Product.Price }}">
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="{{ .Product.ImageURL }}" width="100%" id="MainImg" alt="{{ .Product.Name }}">
            <div class="small-img-group">
                <div class="small-img-col">
                    <!-- optional additional images -->
                    <img src="{{ .Product.ImageURL }}" width="100%" class="small-img" alt="Small Image">
                </div>
            </div>
        </div>

        <div class="single-pro-details">
            <h6>Home / {{ .Product.Brand }}</h6>
            <h4>{{ .Product.Name }}</h4>
            <h2>${{ printf "%.2f" .Product.Price }}</h2>
            <select name="size" required>
                <option value="">Select Size</option>
                <option value="Small">Small</option>
                <option value="Large">Large</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
            <input type="number" name="quantity" value="1" min="1" required>
            <button class="normal" type="submit">Add To Cart</button>
            <h4>Product Details</h4>
            <span>{{ .Product.Description }}</span>
            <br><br>
            <strong>Rating:.Product.Rating</strong> 
        </div>
        </form>

    </section>

    <script src="/ui/static/js/script.js"></script> <!-- fixed script path -->
</body>

</html>
