
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="success-container">
        <h1>{{ .HeaderText }}</h1>
        <a href="/shop">Go Back</a>
    </div>
</body>
</html>

